<div class="container"> 
<h6 class="text-primary text-align-center"> USO DE PIPES</h6>
<p>  Valor:  <input type="text" class="form-control-sm border-primary" [(ngModel)] = "texto"></p>
<p> Resultado: {{texto| uppercase}} </p>

<h6 class="text-primary"> CURRENCY PIPES</h6>
<p>  Valor:  <input type="number" class="form-control-sm border-primary" [(ngModel)] = "num2"></p>
<p></p>
<select [(ngModel)]="opcionSeleccionado">
  <option value="0">Selecciona el tipo de Moneda</option>
  <option value="1">USD</option>
  <option value="2">EUR</option> 
</select> 
<div [ngSwitch]="opcionSeleccionado">
  <p  [ngStyle]="{'color': 'blue'}" *ngSwitchCase="1">Resultado: {{num2|currency:"USD"}} </p>
  <p [ngStyle]="{'color': 'green'}" *ngSwitchCase="2">Resultado: {{num2|currency:"EUR"}}</p>
  <p [ngStyle]="{'color': 'red'}" *ngSwitchDefault>(No eligió Moneda)</p>
</div>

<p>  Fecha:  <input type="datetime-local" class="form-control-sm border-primary" [(ngModel)] = "fecha"></p>


<p> Resultado = {{hoy|date:'short'}}</p> 
<p>{{diferencia}}</p> 


</div>

